main {
    background-color: #00BFFF;
    width: 90%;
}
.main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main-title {
    text-align: center;
    margin-bottom: 40px;
}
