header {
    background-color: pink;
}
.menu {
    width: 30%;
    margin: 0 auto;
}
.menu-wrapper {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
